@charset "utf-8";
@import './reset.css';

/* Formatting */

.container {
  width: min(100svh - 30px, 1080px);
  margin-inline: auto;
}

* { transition: 0.25s ease-in-out; }

/* Borders and colours */

h1 { color: white }

body { background-color: rgb(41, 41, 41); }

.options, #grid-container, .log { 
  background-color: #7a7a7a;
  border: 1px solid black; 
  box-shadow: 1px 1px 3px #181818;
}

/* Header */

header {
  text-align: center;
  margin: 10px;
}

/* Options */

.options {
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

select, input { 
  font-weight: 500;
  height: 50px;
  width: 90px;
  text-align: center;
  background-color: #eee;
  border: 1px solid #bebebe;
 }

select {
  padding: 5px;
  line-height: 50px;
  border-radius: 5px;
}

input {
  padding: 10px;
  border-radius: 10px;
}

/* Grid */

#grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-row-gap: 5px;
}

/* Shapes */
/* Must have capital letter to match input from options */
.Square, .Circle {
  height: 200px;
  width: 200px;
  box-shadow: 1px 1px 3px #5e5e5e;
}

.Square {
  border-radius: 5px;
}

.Circle {
  border-radius: 50%;
}

#shape {
  color: rgba(0, 0, 0, 0);
  user-select: none;
}

/* Colours */

.Blue { 
  background-color: #09f; 
  border: 1px solid #1082ce;
}
.Green { 
  background-color: #9f0; 
  border: 1px solid #5f9e00;
}
.Orange { 
  background-color: #f90; 
  border: 1px solid #b46c00;
}
.Pink { 
  background-color: #f09; 
  border: 1px solid #cf037e;
}
.Purple { 
  background-color: #90f; 
  border: 1px solid #7900ca;
}


/* Log */

.log {
  height: 70px;
  margin-top: 20px;
  line-height: 70px;
  text-align: center;
}